<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>deneme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
  </head>
  <body data-sitehref="localhost:5001">


    <!-- container -->
    <div class="container">
      {{ data.header|safe }}
      {{ data.menu|safe }}
      {{ data.content|safe }}
      {{ data.footer|safe }}
    </div>


    <script src="{{url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js?') }}"></script>
    <script src="{{url_for('static',filename='js/simpleUpload.js?.css') }}"></script>
    <script src="{{url_for('static',filename='js/script.js') }}"></script>
  </body>
</html>
